<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>WELCOME TODO with EJS</h1>
    <!-- run JS code -->
    <%  console.log("view runned")   %>

    <!-- run JS comment -->
    <%# comment line  %>

    <!-- safe print -->
    <%=  '<b> text </b>'   %>

    <!-- direct print -->
    <!-- close tag with -  new line remove -->

    <%- '<b> text </b>' -%> 

    <!-- % print -->
    <%%  %>


</body>
</html>